.footer {
    padding: 145px 100px 28px 100px;
    background-color: $white;
    @include size (100%, 530px);
    @include flex (center, center);
    overflow: hidden;

    &__flex {
        position: relative;
        @include flex (center, flex-start, column);
        gap : 32px;
        @include size (100%, 100%);

        .blur-footer {
            position: absolute;
            z-index: 0;
            background: radial-gradient(43.79% 43.79% at 50% 50%, rgba(85, 156, 207, 0.7) 10%, rgba(85, 156, 207, 0) 100%);
            border-radius: 50%;
            
            &__1{
                @include size (700px, 700px);
                top : -400px;
                right: -200px;

            }

            &__2 {
                @include size (500px, 500px);
                bottom : -200px;
                left: -200px;
            }


        }

        &__links {
            z-index: 1;
            @include flex(center, flex-start, column);
            gap : 32px;

            li {
                @extend %font-footer;
                @include flex (center, center);

                a {
                    @include flex (center, flex-start);
                    gap : 24px;

                    .footer-arrow {
                       display: none;
                        @include size (40px, 40px);
    
                        svg {           
                            @include size (100%, 100%);
                        }
                    }

                    &:hover {
                        .footer-arrow {
                            animation : appear 0.5s ease-in-out;
                            display: block;
                        }
                    }
                }
                
            }
        }

        hr {
            z-index: 1;
            width: 100%;
            border: 1px solid $black;
        }

        &__copyright {
            z-index: 1;
            align-self: flex-end;
           font-size: 16px;
           font-weight: 400;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width : 800px){
    .footer {
        padding : 145px 20px 28px 20px;
    }
}

@media screen and (max-width : 450px) {

    .footer{
        &__flex{

            .blur-footer {
                &__1 {
                    @include size (500px, 500px);
                    top : -250px;
                    right: -300px;
                }
        
                &__2 {
                    @include size (300px, 300px);
                    bottom : -100px;
                    left: -200px;
                }
            }
        }
    }
}